/* dash adjustments */
.container {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 10px;
}

/* used in the dash ag-grid */
.center-aligned-group-header .ag-header-group-cell-label {
    justify-content: center;
}