# files
*.pyc
*.ipynb_checkpoints
.DS_Store
.env
files/dataset/*
files/integrations/cdc/cdc.sql
files/integrations/cdc/txt/*
files/models/*
files/partition/*
files/rates/*
files/result/*

# folders
.pytest_cache/
.vscode/
_build/
_pycache_/
catboost_info/
docs/coverage/
morai/dashboard/file_system_backend/
notebooks/working/


# include below even though they are excluded above
!.gitkeep
!tests/files/
!files/rates/rate_map_example.yaml