# removing the following files from github's language stats
docs/* linguist-vendored
notebooks/* linguist-vendored
*.ipynb filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text