# files
*.pyc
*.ipynb_checkpoints
.DS_Store
.env
files/dataset/*
files/models/*
files/partition/*
files/result/*

# folders
.pytest_cache/
.vscode/
_build/
_pycache_/
catboost_info/
docs/coverage/
morai/dashboard/file_system_backend/
notebooks/working/


# include tests/files/
!.gitkeep
!tests/files/