# files
*.pyc
*.ipynb_checkpoints
.DS_Store
.env

# folders
.pytest_cache/
.vscode/
_build/
_pycache_/
files/
docs/coverage/
morai/dashboard/file_system_backend/
notebooks/working/


# include tests/files/
!tests/files/